<h1>Welcome to Pokémon Trainer!</h1>

  <form>
    <div class="row">
      <div class="col col-4">
      <fieldset>
        <legend>Login</legend>
        <label for="username" class="form-label">Username</label>
        <input type="text"
                [(ngModel)]="username"
                #name="ngModel"
                required
                placeholder="Enter your name"
                class="form-control"
                id="username"
                name="username">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" style="font-style: italic">
          <div *ngIf="name.errors?.required">
            Name is required.
          </div>
        </div>
      
        <button type="button" (click)="onLoginClick()" class="btn btn-primary mt-3" [disabled]="name.invalid">
          Login
        </button> 
      </fieldset>               
      </div>
    </div>
  </form>
<!-- 
  <input type="text" id="name" name="name" class="form-control"
      required minlength="4" appForbiddenName="bob"
      [(ngModel)]="hero.name" #name="ngModel"> -->
